<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.bsp.MVO.mapper.ManufacturerMapper">

    <insert id="insert" parameterType="java.util.Map" statementType="CALLABLE">
        {call insertman(
        #{man_id},#{name_en},#{name_cn},#{gmc_report_type},
        #{gmc_report_url},#{description},
        #{created_by},#{creation_date},#{last_update_by},
        #{last_update_date},#{call_cnt},#{remark},#{sts_cd},#{user_id}
        )}
    </insert>

    <!--CREATE DEFINER=`root`@`localhost` PROCEDURE `InsertMan`(
    in `MAN_ID` int(11),
    in `NAME_EN`	varchar(100),
    in `NAME_CN`	varchar(100),
    in `GMC_REPORT_TYPE`	varchar(2),
    in `GMC_REPORT_URL`	varchar(255),
    in `DESCRIPTION`	longtext,
    in `CREATED_BY`	varchar(20),
    in `CREATION_DATE`	timestamp,
    in `LAST_UPDATE_BY`	varchar(20),
    in `LAST_UPDATE_DATE`	timestamp,
    in `CALL_CNT`	int(11),
    in `REMARK`	varchar(50),
    in `STS_CD`	char(1),
    in `userId` VARCHAR(100)
    )
    BEGIN
    #Routine body goes here...

    insert into man values(
    MAN_ID,
    NAME_EN,
    NAME_CN,
    GMC_REPORT_TYPE,
    GMC_REPORT_URL,
    DESCRIPTION,
    CREATED_BY,
    CREATION_DATE,
    LAST_UPDATE_BY,
    LAST_UPDATE_DATE,
    CALL_CNT,
    REMARK,
    STS_CD
    );

    UPDATE sys_user
    set MAN_BUYER_ID=MAN_ID
    WHERE USER_ID=userId;

    END-->

    <update id="update" parameterType="Manufacturer">
        update man set
        man_id = #{man_id},`name_en` = #{name_en},name_cn = #{name_cn},
        created_by = #{created_by},creation_date= #{creation_date} ,
        last_update_by = #{last_update_by},last_update_date = #{last_update_date},
        call_cnt = #{call_cnt},remark = #{remark},sts_cd = #{sts_cd}
        where man_id = #{man_id}
    </update>

    <delete id="delete" parameterType="java.lang.String">
        delete from man where man_id = #{man_id}
    </delete>

    <select id="getById" parameterType="java.lang.String" resultType="Manufacturer" >
        select * from man where man_id = #{man_id}
    </select>

    <select id="getAll" resultType="Manufacturer">
        select * from man
    </select>

    <select id="getAllByFilter" parameterType="java.util.Map" resultType="Manufacturer">
        select * from man <!--where username = #{username} and password = #{password}-->
    </select>

    <select id="getManIdByUserId" parameterType="java.util.String" resultType='int'>
        select man_buyer_id
        from sys_user
        where user_id=#{userId}
    </select>
</mapper>
