<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.bsp.MVO.mapper.ManufacturerMapper">

    <insert id="insert" parameterType="java.util.Map" statementType="CALLABLE"  keyProperty="man_id">
        {call insertman(
        #{name_en},#{name_cn},#{gmc_report_type},
        #{gmc_report_url},#{description},
        #{created_by},#{creation_date},#{last_update_by},
        #{last_update_date},#{call_cnt},#{remark},#{sts_cd},#{user_id}
        )}
    </insert>

    <update id="update" parameterType="Manufacturer">
        update man set
        `name_en` = #{name_en},name_cn = #{name_cn},
        created_by = #{created_by},creation_date= #{creation_date} ,
        last_update_by = #{last_update_by},last_update_date = #{last_update_date},
        call_cnt = #{call_cnt},remark = #{remark},sts_cd = #{sts_cd}
        where man_id = #{man_id}
    </update>

    <select id="selectByUserId" parameterType="java.lang.String" resultType="Manufacturer">
        select m.*
        from sys_user s
        join man m
        where m.man_id=s.man_buyer_id
        where s.user_id=#{userId}
    </select>

    <delete id="delete" parameterType="java.lang.String">
        delete from man where man_id = #{man_id}
    </delete>

    <select id="getById" parameterType="java.lang.String" resultType="Manufacturer" >
        select * from man where man_id = #{man_id}
    </select>

    <select id="getAll" resultType="Manufacturer">
        select * from man
    </select>

    <select id="getAllByFilter" parameterType="java.util.Map" resultType="Manufacturer">
        select * from man <!--where username = #{username} and password = #{password}-->
    </select>

    <select id="getManIdByUserId" parameterType="java.lang.Integer" resultType='int'>
        select man_buyer_id
        from sys_user
        where user_id= #{userId}
    </select>
</mapper>
