<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.bsp.MVO.mapper.PackageInfoMapper">

    <resultMap type="PackageInfo" id="PckMap">
        <result property="pck_id" column="PCK_ID" jdbcType="INTEGER"/>
        <result property="war_id" column="WAR_ID" jdbcType="INTEGER"/>
        <result property="pro_id" column="PRO_ID" jdbcType="INTEGER"/>
        <result property="type_cd" column="TYPE_CD" jdbcType="VARCHAR"/>
        <result property="width" column="WIDTH" jdbcType="NUMERIC"/>
        <result property="height" column="HEIGHT" jdbcType="NUMERIC"/>
        <result property="length" column="LENGTH" jdbcType="NUMERIC"/>
        <result property="weight" column="WEIGHT" jdbcType="NUMERIC"/>
        <result property="created_by" column="CREATED_BY" jdbcType="VARCHAR"/>
        <result property="creation_date" column="CREATION_DATE" jdbcType="TIMESTAMP"/>
        <result property="last_update_by" column="LAST_UPDATE_BY" jdbcType="VARCHAR"/>
        <result property="last_update_date" column="LAST_UPDATE_DATE" jdbcType="TIMESTAMP"/>
        <result property="call_cnt" column="CALL_CNT" jdbcType="INTEGER"/>
        <result property="remark" column="REMARK" jdbcType="VARCHAR"/>
        <result property="sts_cd" column="STS_CD" jdbcType="VARCHAR"/>
        <result property="heavy_cargo" column="HEAVY_CARGO" jdbcType="VARCHAR"/>
        <result property="logistics_company" column="LOGISTICS_COMPANY" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="getById" resultMap="PckMap">
        select
          PCK_ID, WAR_ID, PRO_ID, TYPE_CD, WIDTH, HEIGHT, LENGTH, WEIGHT, CREATED_BY, CREATION_DATE, LAST_UPDATE_BY, LAST_UPDATE_DATE, CALL_CNT, REMARK, STS_CD, HEAVY_CARGO, LOGISTICS_COMPANY
        from bsp.pck
        where PCK_ID = #{pck_id}
    </select>


    <!--通过实体作为筛选条件查询-->
    <select id="getAll" resultMap="PckMap">
        select
        PCK_ID, WAR_ID, PRO_ID, TYPE_CD, WIDTH, HEIGHT, LENGTH, WEIGHT, CREATED_BY, CREATION_DATE, LAST_UPDATE_BY,
        LAST_UPDATE_DATE, CALL_CNT, REMARK, STS_CD, HEAVY_CARGO, LOGISTICS_COMPANY
        from bsp.pck
        <where>
            <if test="pck_id != null">
                and PCK_ID = #{pck_id}
            </if>
            <if test="war_id != null">
                and WAR_ID = #{war_id}
            </if>
            <if test="pro_id != null">
                and PRO_ID = #{pro_id}
            </if>
            <if test="type_cd != null and type_cd != ''">
                and TYPE_CD = #{type_cd}
            </if>
            <if test="width != null">
                and WIDTH = #{width}
            </if>
            <if test="height != null">
                and HEIGHT = #{height}
            </if>
            <if test="length != null">
                and LENGTH = #{length}
            </if>
            <if test="weight != null">
                and WEIGHT = #{weight}
            </if>
            <if test="created_by != null and created_by != ''">
                and CREATED_BY = #{created_by}
            </if>
            <if test="creation_date != null">
                and CREATION_DATE = #{creation_date}
            </if>
            <if test="last_update_by != null and last_update_by != ''">
                and LAST_UPDATE_BY = #{last_update_by}
            </if>
            <if test="last_update_date != null">
                and LAST_UPDATE_DATE = #{last_update_date}
            </if>
            <if test="call_cnt != null">
                and CALL_CNT = #{call_cnt}
            </if>
            <if test="remark != null and remark != ''">
                and REMARK = #{remark}
            </if>
            <if test="sts_cd != null and sts_cd != ''">
                and STS_CD = #{sts_cd}
            </if>
            <if test="heavy_cargo != null and heavy_cargo != ''">
                and HEAVY_CARGO = #{heavy_cargo}
            </if>
            <if test="logistics_company != null and logistics_company != ''">
                and LOGISTICS_COMPANY = #{logistics_company}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="pck_id" useGeneratedKeys="true">
        insert into bsp.pck(WAR_ID, PRO_ID, TYPE_CD, WIDTH, HEIGHT, LENGTH, WEIGHT, CREATED_BY, CREATION_DATE, LAST_UPDATE_BY, LAST_UPDATE_DATE, CALL_CNT, REMARK, STS_CD, HEAVY_CARGO, LOGISTICS_COMPANY)
        values (#{war_id}, #{pro_id}, #{type_cd}, #{width}, #{height}, #{length}, #{weight}, #{created_by}, #{creation_date}, #{last_update_by}, #{last_update_date}, #{call_cnt}, #{remark}, #{sts_cd}, #{heavy_cargo}, #{logistics_company})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update bsp.pck
        <set>
            <if test="war_id != null">
                WAR_ID = #{war_id},
            </if>
            <if test="pro_id != null">
                PRO_ID = #{pro_id},
            </if>
            <if test="type_cd != null and type_cd != ''">
                TYPE_CD = #{type_cd},
            </if>
            <if test="width != null">
                WIDTH = #{width},
            </if>
            <if test="height != null">
                HEIGHT = #{height},
            </if>
            <if test="length != null">
                LENGTH = #{length},
            </if>
            <if test="weight != null">
                WEIGHT = #{weight},
            </if>
            <if test="created_by != null and created_by != ''">
                CREATED_BY = #{created_by},
            </if>
            <if test="creation_date != null">
                CREATION_DATE = #{creation_date},
            </if>
            <if test="last_update_by != null and last_update_by != ''">
                LAST_UPDATE_BY = #{last_update_by},
            </if>
            <if test="last_update_date != null">
                LAST_UPDATE_DATE = #{last_update_date},
            </if>
            <if test="call_cnt != null">
                CALL_CNT = #{call_cnt},
            </if>
            <if test="remark != null and remark != ''">
                REMARK = #{remark},
            </if>
            <if test="sts_cd != null and sts_cd != ''">
                STS_CD = #{sts_cd},
            </if>
            <if test="heavy_cargo != null and heavy_cargo != ''">
                HEAVY_CARGO = #{heavy_cargo},
            </if>
            <if test="logistics_company != null and logistics_company != ''">
                LOGISTICS_COMPANY = #{logistics_company},
            </if>
        </set>
        where PCK_ID = #{pck_id}
    </update>

    <!--通过主键删除-->
    <delete id="delete">
        delete from bsp.pck where PCK_ID = #{pckId}
    </delete>

    <select id="getByProId" parameterType="java.lang.Integer" resultMap="PckMap">
        select *
        from pck
        where pck.pro_id=#{proId};
    </select>

</mapper>