<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.bsp.MVO.mapper.ProductDescriptionMapper">

    <resultMap type="ProductDescription" id="PdnMap">
        <result property="pdn_id" column="PDN_ID" jdbcType="INTEGER"/>
        <result property="pro_id" column="PRO_ID" jdbcType="INTEGER"/>
        <result property="type_cd" column="TYPE_CD" jdbcType="VARCHAR"/>
        <result property="descrition" column="DESCRITION" jdbcType="OTHER"/>
        <result property="created_by" column="CREATED_BY" jdbcType="VARCHAR"/>
        <result property="creation_date" column="CREATION_DATE" jdbcType="TIMESTAMP"/>
        <result property="last_update_by" column="LAST_UPDATE_BY" jdbcType="VARCHAR"/>
        <result property="last_update_date" column="LAST_UPDATE_DATE" jdbcType="TIMESTAMP"/>
        <result property="call_cnt" column="CALL_CNT" jdbcType="INTEGER"/>
        <result property="remark" column="REMARK" jdbcType="VARCHAR"/>
        <result property="sts_cd" column="STS_CD" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="getById" resultMap="PdnMap">
        select
          PDN_ID, PRO_ID, TYPE_CD, DESCRITION, CREATED_BY, CREATION_DATE, LAST_UPDATE_BY, LAST_UPDATE_DATE, CALL_CNT, REMARK, STS_CD
        from bsp.pdn
        where PDN_ID = #{pdnId}
    </select>


    <!--通过实体作为筛选条件查询-->
    <select id="getAll" resultMap="PdnMap">
        select
        PDN_ID, PRO_ID, TYPE_CD, DESCRITION, CREATED_BY, CREATION_DATE, LAST_UPDATE_BY, LAST_UPDATE_DATE, CALL_CNT,
        REMARK, STS_CD
        from bsp.pdn
        <where>
            <if test="pdn_id != null">
                and PDN_ID = #{pdn_id}
            </if>
            <if test="pro_id != null">
                and PRO_ID = #{pro_id}
            </if>
            <if test="type_cd != null and typeCd != ''">
                and TYPE_CD = #{type_cd}
            </if>
            <if test="descrition != null">
                and DESCRITION = #{descrition}
            </if>
            <if test="created_by != null and createdBy != ''">
                and CREATED_BY = #{created_by}
            </if>
            <if test="creation_date != null">
                and CREATION_DATE = #{creation_date}
            </if>
            <if test="lastupdate_by != null and lastUpdateBy != ''">
                and LAST_UPDATE_BY = #{last_update_by}
            </if>
            <if test="lastupdate_date != null">
                and LAST_UPDATE_DATE = #{last_update_date}
            </if>
            <if test="call_cnt != null">
                and CALL_CNT = #{call_cnt}
            </if>
            <if test="remark != null and remark != ''">
                and REMARK = #{remark}
            </if>
            <if test="sts_cd != null and stsCd != ''">
                and STS_CD = #{sts_cd}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="pdn_id" useGeneratedKeys="true">
        insert into bsp.pdn(PRO_ID, TYPE_CD, DESCRITION, CREATED_BY, CREATION_DATE, LAST_UPDATE_BY, LAST_UPDATE_DATE, CALL_CNT, REMARK, STS_CD)
        values (#{pro_id}, #{type_cd}, #{descrition}, #{created_by}, #{creation_date}, #{last_update_by}, #{last_update_date}, #{call_cnt}, #{remark}, #{sts_cd})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update bsp.pdn
        <set>
            <if test="pro_id != null">
                PRO_ID = #{pro_id},
            </if>
            <if test="type_cd != null and type_cd != ''">
                TYPE_CD = #{type_cd},
            </if>
            <if test="descrition != null">
                DESCRITION = #{descrition},
            </if>
            <if test="created_by != null and created_by != ''">
                CREATED_BY = #{created_by},
            </if>
            <if test="creation_date != null">
                CREATION_DATE = #{creation_date},
            </if>
            <if test="last_update_by != null and last_update_by != ''">
                LAST_UPDATE_BY = #{last_update_by},
            </if>
            <if test="last_update_date != null">
                LAST_UPDATE_DATE = #{last_update_date},
            </if>
            <if test="call_cnt != null">
                CALL_CNT = #{call_cnt},
            </if>
            <if test="remark != null and remark != ''">
                REMARK = #{remark},
            </if>
            <if test="sts_cd != null and sts_cd != ''">
                STS_CD = #{sts_cd},
            </if>
        </set>
        where PDN_ID = #{pdn_id}
    </update>

    <!--通过主键删除-->
    <delete id="delete">
        delete from bsp.pdn where PDN_ID = #{pdnId}
    </delete>

    <select id="getByProId" parameterType="java.lang.Integer" resultMap="PdnMap">
        select *
        from pdn
        where pdn.pro_id=#{proId};
    </select>

</mapper>