<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.bsp.MVO.mapper.SalesOrderMapper">

    <resultMap type="SalesOrder" id="SaoMap">
        <result property="saoId" column="SAO_ID" jdbcType="INTEGER"/>
        <result property="createdBy" column="CREATED_BY" jdbcType="VARCHAR"/>
        <result property="creationDate" column="CREATION_DATE" jdbcType="TIMESTAMP"/>
        <result property="lastUpdateBy" column="LAST_UPDATE_BY" jdbcType="VARCHAR"/>
        <result property="lastUpdateDate" column="LAST_UPDATE_DATE" jdbcType="TIMESTAMP"/>
        <result property="callCnt" column="CALL_CNT" jdbcType="INTEGER"/>
        <result property="remark" column="REMARK" jdbcType="VARCHAR"/>
        <result property="stsCd" column="STS_CD" jdbcType="VARCHAR"/>
        <result property="manId" column="MAN_ID" jdbcType="INTEGER"/>
        <result property="warId" column="WAR_ID" jdbcType="INTEGER"/>
        <result property="syncDate" column="SYNC_DATE" jdbcType="TIMESTAMP"/>
        <result property="paymentDate" column="PAYMENT_DATE" jdbcType="TIMESTAMP"/>
        <result property="pushDate" column="PUSH_DATE" jdbcType="TIMESTAMP"/>
        <result property="trackNoDate" column="TRACK_NO_DATE" jdbcType="TIMESTAMP"/>
        <result property="fulfillmentDate" column="FULFILLMENT_DATE" jdbcType="TIMESTAMP"/>
        <result property="settlementDate" column="SETTLEMENT_DATE" jdbcType="TIMESTAMP"/>
        <result property="productAmount" column="PRODUCT_AMOUNT" jdbcType="NUMERIC"/>
        <result property="freightCost" column="FREIGHT_COST" jdbcType="NUMERIC"/>
        <result property="handlingFee" column="HANDLING_FEE" jdbcType="NUMERIC"/>
        <result property="customerRemark" column="CUSTOMER_REMARK" jdbcType="VARCHAR"/>
        <result property="orderNo" column="ORDER_NO" jdbcType="VARCHAR"/>
        <result property="orderSts" column="ORDER_STS" jdbcType="VARCHAR"/>
        <result property="refundSts" column="REFUND_STS" jdbcType="VARCHAR"/>
        <result property="deliverySts" column="DELIVERY_STS" jdbcType="VARCHAR"/>
        <result property="stoId" column="STO_ID" jdbcType="INTEGER"/>
        <result property="lastFreightCost" column="LAST_FREIGHT_COST" jdbcType="NUMERIC"/>
        <result property="cancleTime" column="CANCLE_TIME" jdbcType="TIMESTAMP"/>
        <result property="autoPayStatus" column="AUTO_PAY_STATUS" jdbcType="VARCHAR"/>
        <result property="buyerCheckoutMessage" column="BUYER_CHECKOUT_MESSAGE" jdbcType="VARCHAR"/>
        <result property="autoPayTime" column="AUTO_PAY_TIME" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="getById" resultMap="SaoMap">
        select
          SAO_ID, CREATED_BY, CREATION_DATE, LAST_UPDATE_BY, LAST_UPDATE_DATE, CALL_CNT, REMARK, STS_CD, MAN_ID, WAR_ID, SYNC_DATE, PAYMENT_DATE, PUSH_DATE, TRACK_NO_DATE, FULFILLMENT_DATE, SETTLEMENT_DATE, PRODUCT_AMOUNT, FREIGHT_COST, HANDLING_FEE, CUSTOMER_REMARK, ORDER_NO, ORDER_STS, REFUND_STS, DELIVERY_STS, STO_ID, LAST_FREIGHT_COST, CANCLE_TIME, AUTO_PAY_STATUS, BUYER_CHECKOUT_MESSAGE, AUTO_PAY_TIME
        from bsp.sao
        where SAO_ID = #{saoId}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="getAll" resultMap="SaoMap">
        select
        SAO_ID, CREATED_BY, CREATION_DATE, LAST_UPDATE_BY, LAST_UPDATE_DATE, CALL_CNT, REMARK, STS_CD, MAN_ID, WAR_ID,
        SYNC_DATE, PAYMENT_DATE, PUSH_DATE, TRACK_NO_DATE, FULFILLMENT_DATE, SETTLEMENT_DATE, PRODUCT_AMOUNT,
        FREIGHT_COST, HANDLING_FEE, CUSTOMER_REMARK, ORDER_NO, ORDER_STS, REFUND_STS, DELIVERY_STS, STO_ID,
        LAST_FREIGHT_COST, CANCLE_TIME, AUTO_PAY_STATUS, BUYER_CHECKOUT_MESSAGE, AUTO_PAY_TIME
        from bsp.sao
        <where>
            <if test="saoId != null">
                and SAO_ID = #{saoId}
            </if>
            <if test="createdBy != null and createdBy != ''">
                and CREATED_BY = #{createdBy}
            </if>
            <if test="creationDate != null">
                and CREATION_DATE = #{creationDate}
            </if>
            <if test="lastUpdateBy != null and lastUpdateBy != ''">
                and LAST_UPDATE_BY = #{lastUpdateBy}
            </if>
            <if test="lastUpdateDate != null">
                and LAST_UPDATE_DATE = #{lastUpdateDate}
            </if>
            <if test="callCnt != null">
                and CALL_CNT = #{callCnt}
            </if>
            <if test="remark != null and remark != ''">
                and REMARK = #{remark}
            </if>
            <if test="stsCd != null and stsCd != ''">
                and STS_CD = #{stsCd}
            </if>
            <if test="manId != null">
                and MAN_ID = #{manId}
            </if>
            <if test="warId != null">
                and WAR_ID = #{warId}
            </if>
            <if test="syncDate != null">
                and SYNC_DATE = #{syncDate}
            </if>
            <if test="paymentDate != null">
                and PAYMENT_DATE = #{paymentDate}
            </if>
            <if test="pushDate != null">
                and PUSH_DATE = #{pushDate}
            </if>
            <if test="trackNoDate != null">
                and TRACK_NO_DATE = #{trackNoDate}
            </if>
            <if test="fulfillmentDate != null">
                and FULFILLMENT_DATE = #{fulfillmentDate}
            </if>
            <if test="settlementDate != null">
                and SETTLEMENT_DATE = #{settlementDate}
            </if>
            <if test="productAmount != null">
                and PRODUCT_AMOUNT = #{productAmount}
            </if>
            <if test="freightCost != null">
                and FREIGHT_COST = #{freightCost}
            </if>
            <if test="handlingFee != null">
                and HANDLING_FEE = #{handlingFee}
            </if>
            <if test="customerRemark != null and customerRemark != ''">
                and CUSTOMER_REMARK = #{customerRemark}
            </if>
            <if test="orderNo != null and orderNo != ''">
                and ORDER_NO = #{orderNo}
            </if>
            <if test="orderSts != null and orderSts != ''">
                and ORDER_STS = #{orderSts}
            </if>
            <if test="refundSts != null and refundSts != ''">
                and REFUND_STS = #{refundSts}
            </if>
            <if test="deliverySts != null and deliverySts != ''">
                and DELIVERY_STS = #{deliverySts}
            </if>
            <if test="stoId != null">
                and STO_ID = #{stoId}
            </if>
            <if test="lastFreightCost != null">
                and LAST_FREIGHT_COST = #{lastFreightCost}
            </if>
            <if test="cancleTime != null">
                and CANCLE_TIME = #{cancleTime}
            </if>
            <if test="autoPayStatus != null and autoPayStatus != ''">
                and AUTO_PAY_STATUS = #{autoPayStatus}
            </if>
            <if test="buyerCheckoutMessage != null and buyerCheckoutMessage != ''">
                and BUYER_CHECKOUT_MESSAGE = #{buyerCheckoutMessage}
            </if>
            <if test="autoPayTime != null and autoPayTime != ''">
                and AUTO_PAY_TIME = #{autoPayTime}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="saoId" useGeneratedKeys="true">
        insert into bsp.sao(CREATED_BY, CREATION_DATE, LAST_UPDATE_BY, LAST_UPDATE_DATE, CALL_CNT, REMARK, STS_CD, MAN_ID, WAR_ID, SYNC_DATE, PAYMENT_DATE, PUSH_DATE, TRACK_NO_DATE, FULFILLMENT_DATE, SETTLEMENT_DATE, PRODUCT_AMOUNT, FREIGHT_COST, HANDLING_FEE, CUSTOMER_REMARK, ORDER_NO, ORDER_STS, REFUND_STS, DELIVERY_STS, STO_ID, LAST_FREIGHT_COST, CANCLE_TIME, AUTO_PAY_STATUS, BUYER_CHECKOUT_MESSAGE, AUTO_PAY_TIME)
        values (#{createdBy}, #{creationDate}, #{lastUpdateBy}, #{lastUpdateDate}, #{callCnt}, #{remark}, #{stsCd}, #{manId}, #{warId}, #{syncDate}, #{paymentDate}, #{pushDate}, #{trackNoDate}, #{fulfillmentDate}, #{settlementDate}, #{productAmount}, #{freightCost}, #{handlingFee}, #{customerRemark}, #{orderNo}, #{orderSts}, #{refundSts}, #{deliverySts}, #{stoId}, #{lastFreightCost}, #{cancleTime}, #{autoPayStatus}, #{buyerCheckoutMessage}, #{autoPayTime})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update bsp.sao
        <set>
            <if test="createdBy != null and createdBy != ''">
                CREATED_BY = #{createdBy},
            </if>
            <if test="creationDate != null">
                CREATION_DATE = #{creationDate},
            </if>
            <if test="lastUpdateBy != null and lastUpdateBy != ''">
                LAST_UPDATE_BY = #{lastUpdateBy},
            </if>
            <if test="lastUpdateDate != null">
                LAST_UPDATE_DATE = #{lastUpdateDate},
            </if>
            <if test="callCnt != null">
                CALL_CNT = #{callCnt},
            </if>
            <if test="remark != null and remark != ''">
                REMARK = #{remark},
            </if>
            <if test="stsCd != null and stsCd != ''">
                STS_CD = #{stsCd},
            </if>
            <if test="manId != null">
                MAN_ID = #{manId},
            </if>
            <if test="warId != null">
                WAR_ID = #{warId},
            </if>
            <if test="syncDate != null">
                SYNC_DATE = #{syncDate},
            </if>
            <if test="paymentDate != null">
                PAYMENT_DATE = #{paymentDate},
            </if>
            <if test="pushDate != null">
                PUSH_DATE = #{pushDate},
            </if>
            <if test="trackNoDate != null">
                TRACK_NO_DATE = #{trackNoDate},
            </if>
            <if test="fulfillmentDate != null">
                FULFILLMENT_DATE = #{fulfillmentDate},
            </if>
            <if test="settlementDate != null">
                SETTLEMENT_DATE = #{settlementDate},
            </if>
            <if test="productAmount != null">
                PRODUCT_AMOUNT = #{productAmount},
            </if>
            <if test="freightCost != null">
                FREIGHT_COST = #{freightCost},
            </if>
            <if test="handlingFee != null">
                HANDLING_FEE = #{handlingFee},
            </if>
            <if test="customerRemark != null and customerRemark != ''">
                CUSTOMER_REMARK = #{customerRemark},
            </if>
            <if test="orderNo != null and orderNo != ''">
                ORDER_NO = #{orderNo},
            </if>
            <if test="orderSts != null and orderSts != ''">
                ORDER_STS = #{orderSts},
            </if>
            <if test="refundSts != null and refundSts != ''">
                REFUND_STS = #{refundSts},
            </if>
            <if test="deliverySts != null and deliverySts != ''">
                DELIVERY_STS = #{deliverySts},
            </if>
            <if test="stoId != null">
                STO_ID = #{stoId},
            </if>
            <if test="lastFreightCost != null">
                LAST_FREIGHT_COST = #{lastFreightCost},
            </if>
            <if test="cancleTime != null">
                CANCLE_TIME = #{cancleTime},
            </if>
            <if test="autoPayStatus != null and autoPayStatus != ''">
                AUTO_PAY_STATUS = #{autoPayStatus},
            </if>
            <if test="buyerCheckoutMessage != null and buyerCheckoutMessage != ''">
                BUYER_CHECKOUT_MESSAGE = #{buyerCheckoutMessage},
            </if>
            <if test="autoPayTime != null and autoPayTime != ''">
                AUTO_PAY_TIME = #{autoPayTime},
            </if>
        </set>
        where SAO_ID = #{saoId}
    </update>

    <!--通过主键删除-->
    <delete id="delete">
        delete from bsp.sao where SAO_ID = #{saoId}
    </delete>

    <select id="getByUserId" parameterType="java.lang.Integer" resultMap="SaoMap">
        select sao.*
        from sys_user s
        join man m
        where s.man_buyer_id=m.man_id
        join sao
        where m.man_id=sao.man_id
        where s.user_id=#{userId}
    </select>

    <select id="getSaoByOrderNo" parameterType="java.lang.String" resultMap="SaoMap">
        select *
        from sao
        where sao.order_no=#{orderNo}
    </select>

</mapper>