<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.bsp.System.mapper.CodeMapper">

<!--    <select id="insert" parameterType="User">-->
<!--        select * from user where t_id = #{tid} and t_password = #{tpassword}-->
<!--    </select>-->

    <insert id="insert" parameterType="Code">
        insert into cdm values(#{cdm_id},#{code_type},#{description},#{type_cd},#{code_val},#{seq_no},#{created_by},
        #{creation_date},#{last_update_by},#{last_update_date},#{call_cnt},#{remark},#{sts_cd})
    </insert>

    <update id="update" parameterType="Code">
        update cdm set cdm_id=#{cdm_id},code_type=#{code_type},`description`=#{description},type_cd=#{type_cd},
        code_val=#{code_val},seq_no=#{seq_no},created_by=#{created_by},creation_date=#{creation_date},
        last_update_by=#{last_update_by},last_update_date=#{last_update_date},call_cnt=#{call_cnt},remark=#{remark},
        sts_cd=#{sts_cd}} where cdm_id = #{cdm_id}
    </update>

    <delete id="delete" parameterType="java.lang.String">
        update cdm set sts_cd = 0 where cdm_id = #{cdm_id}
    </delete>

    <select id="getById" parameterType="java.lang.String" resultType="Code" >
        select * from cdm where cdm_id = #{cdm_id}
    </select>

    <select id="getAll" resultType="Code">
        select * from cdm
    </select>

    <select id="getAllByFilter" parameterType="java.util.Map" resultType="Code">
        select * from cdm <!--where username = #{username} and password = #{password}-->
    </select>
</mapper>
