<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.bsp.System.mapper.MenuRoleMapper">


    <insert id="insertMenu" parameterType="Menu">
        insert sys_menu set menu_name = #{menu_name}, menu_index = #{menu_index},parent_id = #{parent_id},
        menu_order = #{menu_order},menu_icon = #{menu_icon},menu_type = #{menu_type}
    </insert>

    <update id="updateMenu" parameterType="Menu">
        update sys_menu set menu_name = #{menu_name}, menu_index = #{menu_index},parent_id = #{parent_id},
        menu_order = #{menu_order},menu_icon = #{menu_icon},menu_type = #{menu_type}
        where menu_id = #{menu_id}
    </update>

    <delete id="deleteMenu" parameterType="Integer">
        delete from sys_menu where menu_id = #{menu_id}
    </delete>

    <select id="getAllMenus" resultType="Menu">
        select * from sys_menu
    </select>

    <select id="getRoleMenus" parameterType="Integer" resultType="Menu">
        select * from sys_menu where menu_id in (select menu_id from role_menu where role_id= #{role_id})
    </select>

    <insert id="insertRole" parameterType="Role">
        insert sys_role set role_name = #{role_name}, role_description = #{role_description}
    </insert>

    <update id="updateRole" parameterType="Role">
        update sys_role
        set role_name = #{role_name}, role_description = #{role_description}
        where ROLE_ID = #{role_id}
    </update>

    <update id="deleteRole" parameterType="Integer">
        update sys_role
        set sts_cd = 'D'
        where role_id = #{role_id}
    </update>

    <select id="getAllRoles" resultType="Role">
        select * from sys_role where STS_CD = 'E'
    </select>

    <select id="getRoleById" resultType="java.lang.String">
        select role_name from sys_role where role_id = #{role_id}
    </select>

    <delete id="deleteRoleMenu" parameterType="Integer">
        delete from role_menu where role_id = #{role_id};
    </delete>

    <update id="setRoleMenu" parameterType="java.util.Map">
        <foreach collection="menu" item="menu_id" separator=";">
            insert into role_menu (role_id,menu_id) values (${role},#{menu_id})
        </foreach>
    </update>
</mapper>
